body
{
	background: #ccc;
	margin: 0;
	font-family: Helvetica;
}
.container
{
	/* Top Left Bottom Right */
	margin: 0 auto 0 auto;
	width: 700px;
	padding-top: 150px;
	background: #fff url(Onion_Dip.jpg) no-repeat top center; 
	border-top: 10px solid #424242;
}

.receipe
{
	padding: 20px 40px;
	background: #fff;
}